/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';


html, body { 
    height: 100%; 
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body{
    background: url('./assets/background.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}


a.nav-link.active{
    border-radius: 5px;
    border: 1px solid white;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

